*,
:after,
:before {
    margin: 0;
    
    padding: 0;
    box-sizing: border-box;
}
.car_container{
 width: 100%;
 height: 100%;
 transform: translateX(-100px);
 transition: transform .5s linear;
 display: grid;
 place-items: center;
 margin-top:  10em;
}
.car_container .first{
 background: palevioletred;
 width: 18px;
 height: 25px;
 border-top-right-radius: 100%;
 margin-left:15px;
}

.last{
 border-top-right-radius: 50%;

 width: 130px;
 height: 40px;
 position: relative;
 z-index: 2;
 background-color: palevioletred;
}
.last::before{
 content: '';
 left: 10px;
 position: absolute;
 width: 20px;
 height: 20px;
 background: cadetblue;
 top: 2.5em;
 animation: spin .4s infinite linear;
 z-index: -1;
}
.last::after{
 content: '';
 right: 10px;
 z-index: -1;
 position: absolute;
 width: 20px;
 height: 20px;
 background: cadetblue;
 top: 2.5em;
 animation: spin .4s infinite linear;
}
.change_forward{
 transform: translateX(100px);
 transition: transform .5s linear;
}
@keyframes spin{
 from{
  transform: rotate(-360deg)
;
}
}

@media screen and (min-width: 760px) { 
 
 .change_forward{
 transform: translateX(300px);
 transition: transform .5s linear;
}
 
}
